h1{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}

h2{
  font: bold 14xp sans-serif;
}



cabecera{


}
footer{
  background: orange;
  font-family: sans-serif;

}
header,section, footer, aside, nav, article{
    display: block;
}

body{


}
.agrupar{
  background: black;
  color: #cfcfdc;
  width: 960px;
  margin:20px auto;
  padding: 40px
}
.cabecera{
  border: 1px solid black;
  text-align: center;
  background: green;
  color: black;
  font-family: sans-serif;

}
.menu{
  background: #f6b010;
}
.menu li{
  color: black;
  list-style: none;
  padding: 2px;
  font: bold 14px verdana;
  display: inline-block;
}
.seccion{

}
