h1{
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
}

h2{
  font: bold 14xp sans-serif;
}

time{
  color: #999;
}

header{
/*  border: 1px solid black;*/
  color: green;
}
footer{
/*  background: #EE5A24;  naranja*/
  font-family: sans-serif;

}
header,section, footer, aside, nav, article{
    display: block;
}

body{
  background-image: url("images/fondomar.jpg");

}
article{
    background: gray;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 15px;
}

article footer{
    text-align: right;

}

.agrupar{
  background-image: url("images/fondopro1.png");

  text-align: center;
    /*background: #575fcf;     */
  color: #cfcfdf;
  width: 960px;
  margin:20px auto;
  padding: 20px
}
.cabecera h1{

}
.menu{
  text-align: left;
  background: #f6b010;
}
.menu li{
  color: black;
  list-style: none;
  font: bold 20px verdana;
  display: inline-block;
  padding: 5px
}
.seccion{
    margin: 20px;
    width: 600px;
    float: left;
  }
.columna{
  color: black;
  width: 300px;

  float: left;
}
.columna blockquote{
  border: 1px solid black;
  padding: 40px;
  background: #f6b010;
  margin-bottom:: 20px;

}
.pie{
  color:black;
  clear: both;
  padding:20px;
  background: #a4b0be;
}

.articulos img{
  width: 100px;
  display: block;
  margin: 20px auto;
}
