h1{
  text-align: left;
  font-size: 50px;
  margin-left: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: green;
  }

h2{
  font: bold 14xp sans-serif;
  }

time{
  color: #999;
  }

header{
  /*  border: 1px solid black;*/
  }
footer{
  /*  background: #EE5A24;  naranja*/
  font-family: sans-serif;
  }
header,section, footer, aside, nav, article{
    display: block;
  }

body{
  background-image: url("images/fondomar.jpg");
  }
article{
    opacity: .8;
    background: gray;
    color:#FAFCFC; ;/*  border: 1px solid black;   */
    padding: 20px;
    margin-bottom: 25px;
  }

article footer{
    text-align: right;
    }

.agrupar{
  background-image: url("images/fondopro1.png");

  text-align: center;
    /*background: #575fcf;     */
  color: #cfcfdf;
  width: 960px;
  margin:20px auto;
  padding: 20px
}
.cabecera h1{

}
.menu{
  text-align: left;
  background-color: rgba(67,69,70,.6);
  /*background: #868686;   /*#636e72 ;/*#485460;   /*#05c46b;  /*green;  /*#f6b010;*/
}
.menu li{
  color: #868686 /* black;  */
  list-style: none;
  font: bold 20px verdana;
  display: inline-block;
  padding: 5px
}
.menu a{
    color: #FAFCFC;
  }
.seccion{
    margin: 20px;
    width: 600px;
    float: left;
  }
.columna{
  color: #FAFCFC;
  width: 300px;

  float: left;
}
.columna blockquote{
  /*border: 1px solid black;   */
  opacity: .8;
  padding: 40px;
  background: #323334;   /*#f6b010;*/
  margin-bottom:: 20px;

}
.pie{
  color:black;
  clear: both;
  padding:20px;
  background: #a4b0be;
}
.articulos a{
  color: #FAFCFC;
}

.articulos img{
  width: 100px;
  display: block;
  margin: 20px auto;
}
